<mat-card>
    <mat-card-header >
        <img mat-card-avatar src={{dataService.pokemon.specs.sprites.front_default}}>
        <mat-card-title>Name : <b>{{dataService.pokemon.specs.name}}</b></mat-card-title>
        <mat-card-subtitle>id :<b>{{dataService.pokemon.specs.id}}</b></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
          <p>
              {{dataService.pokemon.species.flavor_text_entries[0].flavor_text}}
            </p>
      </mat-card-content>
</mat-card>
