
  <mat-form-field class="example-full-width" full-width>
    <input matInput placeholder="id Pokemon" [(ngModel)]="id" full-width>
  </mat-form-field>

  <mat-form-field class="example-full-width" full-width>
    <input readonly='true' matInput placeholder="nom Pokemon" value={{id}} full-width>
  </mat-form-field>

  <mat-select [(ngModel)]="choice" full-width>
    <mat-option *ngFor="let pokemon of ListPokemons"full-width>
      {{pokemon.nom}}
    </mat-option>
  </mat-select>

  <mat-form-field class="example-full-width"full-width>
    <input matInput placeholder="Filtrer" [(ngModel)]="filter" full-width>
  </mat-form-field>

  <button mat-raised-button full-width (click)="Filtrer()">Go!</button>